////////////////////////////////////////
//      Font-Family Definitions       //
////////////////////////////////////////

$helvetica: 'Helvetica Neue', 'Helvetica', Helvetica, Arial, sans-serif;

///////////////////////////////
//      Font Variables       //
///////////////////////////////
$display-font: $helvetica;
$display-font--bold: $helvetica;
$body-font: $helvetica;

////////////////////////////
//      Font Mixins       //
////////////////////////////
@mixin displayFontBold($color: $display-color) {
  font-family: $display-font--bold;
  font-weight: 500;
  color: $color;
}

@mixin displayFont($color:$display-color) {
  font-family: $display-font;
  font-weight: 400;
  color: $color;
}

@mixin bodyFont() {
  font-family: $body-font;
  font-weight: 400;
  color: $body-color;
}

/*
 * Open Sans
================================================================================ */
@font-face {
  font-family: 'opensans-regular';
  font-weight: normal;
  font-style: normal;
  src: url('./Assets/fonts/opensans/OpenSans-Regular-webfont.woff') format('woff');
}

@font-face {
  font-family: 'opensans-italic';
  font-weight: normal;
  font-style: normal;
  src: url('./Assets/fonts/opensans/OpenSans-Italic-webfont.woff') format('woff');
}

@font-face {
  font-family: 'opensans-light';
  font-weight: normal;
  font-style: normal;
  src: url('./Assets/fonts/opensans/OpenSans-Light-webfont.woff') format('woff');
}

@font-face {
  font-family: 'opensans-light-italic';
  font-weight: normal;
  font-style: normal;
  src: url('./Assets/fonts/opensans/OpenSans-LightItalic-webfont.woff') format('woff');
}

@font-face {
  font-family: 'opensans-semibold';
  font-weight: normal;
  font-style: normal;
  src: url('./Assets/fonts/opensans/OpenSans-Semibold-webfont.woff') format('woff');
}

@font-face {
  font-family: 'opensans-semibold-italic';
  font-weight: normal;
  font-style: normal;
  src: url('./Assets/fonts/opensans/OpenSans-SemiboldItalic-webfont.woff') format('woff');
}

@font-face {
  font-family: 'opensans-bold';
  font-weight: normal;
  font-style: normal;
  src: url('./Assets/fonts/opensans/OpenSans-Bold-webfont.woff') format('woff');
}

@font-face {
  font-family: 'opensans-bold-italic';
  font-weight: normal;
  font-style: normal;
  src: url('./Assets/fonts/opensans/OpenSans-BoldItalic-webfont.woff') format('woff');
}

@font-face {
  font-family: 'opensans-extrabold';
  font-weight: normal;
  font-style: normal;
  src: url('./Assets/fonts/opensans/OpenSans-ExtraBold-webfont.woff') format('woff');
}

@font-face {
  font-family: 'opensans-extrabold-italic';
  font-weight: normal;
  font-style: normal;
  src: url('./Assets/fonts/opensans/OpenSans-ExtraBoldItalic-webfont.woff') format('woff');
}

/*
* Libre Baskerville
================================================================================ */
@font-face {
  font-family: 'librebaskerville-bold';
  font-weight: normal;
  font-style: normal;
  src: url('./Assets/fonts/librebaskerville/librebaskerville-bold-webfont.woff') format('woff');
}

@font-face {
  font-family: 'librebaskerville-italic';
	font-weight: normal;
	font-style: normal;
  src: url('./Assets/fonts/librebaskerville/librebaskerville-italic-webfont.woff') format('woff');
}

@font-face {
  font-family: 'librebaskerville-regular';
  font-weight: normal;
  font-style: normal;
  src: url('./Assets/fonts/librebaskerville/librebaskerville-regular-webfont.woff') format('woff');
}

/*
* Fontello
================================================================================ */
@font-face {
  font-family: 'fontello';
  font-weight: normal;
  font-style: normal;
  src: url('./Assets/fonts/fontello/fontello.woff') format('woff');
}

@font-face {
  font-family: 'FontAwesome';
	font-weight: normal;
	font-style: normal;
  src: url('./Assets/fonts/fontawesome/fontawesome-webfont.woff') format('woff');
}
