/*  Stats Tab Markup

    <ul class="stats-tabs">
		<li><a href="#">[value]<b>[name]</b></a></li>
	 </ul>

    Extend this object into your markup.
/*
/* --------------------------------------------------------------------- */
.stats-tabs {
	padding: 0;
	margin: 24px 0;
}
.stats-tabs li {
 display: inline-block;
 margin: 0 10px 18px 0;
 padding: 0 10px 0 0;
 border-right: 1px solid #ccc;
}
.stats-tabs li:last-child {
 margin: 0;
 padding: 0;
 border: none;
}
.stats-tabs li a {
 display: inline-block;
 font-size: 22px;
 font-family: 'opensans-bold', sans-serif;
	border: none;
	color: #313131;
}
.stats-tabs li a:hover {
	color:#11ABB0;
}
.stats-tabs li a b {
 display: block;
 margin: 6px 0 0 0;
 font-size: 13px;
 font-family: 'opensans-regular', sans-serif;
	color: #8B9798;
}

/* definition list */
dl { margin: 12px 0; }
dt { margin: 0; color:#11ABB0; }
dd { margin: 0 0 0 20px; }

/* Lining Definition Style Markup */
.lining dt,
.lining dd {
 display: inline;
 margin: 0;
}
.lining dt + dt:before,
.lining dd + dt:before {
 content: "\A";
 white-space: pre;
}
.lining dd + dd:before {
 content: ", ";
}
.lining dd:before {
 content: ": ";
 margin-left: -0.2em;
}

/* Dictionary Definition Style Markup */
.dictionary-style dt {
 display: inline;
 counter-reset: definitions;
}
.dictionary-style dt + dt:before {
 content: ", ";
 margin-left: -0.2em;
}
.dictionary-style dd {
 display: block;
 counter-increment: definitions;
}
.dictionary-style dd:before {
 content: counter(definitions, decimal) ". ";
}

/* Pagination */
.pagination {
	margin: 36px auto;
	text-align: center;
}
.pagination ul li {
	display: inline-block;
	margin: 0;
	padding: 0;
}
.pagination .page-numbers {
	font: 15px/18px 'opensans-bold', sans-serif;
	display: inline-block;
	padding: 6px 10px;
	margin-right: 3px;
	margin-bottom: 6px;
 color: #6E757C;
 background-color: #E6E8EB;

 -webkit-transition: all 200ms ease-in-out;
 -moz-transition: all 200ms ease-in-out;
 -o-transition: all 200ms ease-in-out;
 -ms-transition: all 200ms ease-in-out;
 transition: all 200ms ease-in-out;

	-moz-border-radius: 3px;
	-webkit-border-radius: 3px;
	-khtml-border-radius: 3px;
 border-radius: 3px;
}
.pagination .page-numbers:hover {
	background: #838A91;
	color: #fff;
}
.pagination .current,
.pagination .current:hover {
	background-color: #11ABB0;
	color: #fff;
}
.pagination .inactive,
.pagination .inactive:hover {
	background-color: #E6E8EB;
 color: #A9ADB2;
}
// .pagination .prev, .pagination .next {}

/*  5. Images  --------------------------------------------------------- */

img {
	max-width: 100%;
	height: auto;
}
img.pull-right { margin: 12px 0px 0px 18px; }
img.pull-left { margin: 12px 18px 0px 0px; }

/*  6. Buttons  --------------------------------------------------------- */

.button,
.button:visited,
button,
input[type="submit"],
input[type="reset"],
input[type="button"] {
	font: 16px/30px 'opensans-bold', sans-serif;
	background: #11ABB0;
	display: inline-block;
 text-decoration: none;
	letter-spacing: 0;
	color: #fff;
 padding: 12px 20px;
 margin-bottom: 18px;
	border: none;
	cursor: pointer;
	height: auto;

	-webkit-transition: all .2s ease-in-out;
 -moz-transition: all .2s ease-in-out;
 -o-transition: all .2s ease-in-out;
 -ms-transition: all .2s ease-in-out;
 transition: all .2s ease-in-out;

	-moz-border-radius: 3px;
	-webkit-border-radius: 3px;
	-khtml-border-radius: 3px;
	border-radius: 3px;
}

.button:hover,
button:hover,
input[type="submit"]:hover,
input[type="reset"]:hover,
input[type="button"]:hover {
	background: #3d4145;
	color: #fff;
}

.button:active,
button:active,
input[type="submit"]:active,
input[type="reset"]:active,
input[type="button"]:active {
	background: #3d4145;
	color: #fff;
}

.button.full-width,
button.full-width,
input[type="submit"].full-width,
input[type="reset"].full-width,
input[type="button"].full-width {
 width: 100%;
 padding-left: 0 !important;
 padding-right: 0 !important;
 text-align: center;
}

/* Fix for odd Mozilla border & padding issues */
button::-moz-focus-inner,
input::-moz-focus-inner {
	 border: 0;
	 padding: 0;
}


/*  7. Forms  --------------------------------------------------------- */

form { margin-bottom: 24px; }
fieldset { margin-bottom: 24px; }

input[type="text"],
input[type="password"],
input[type="email"],
textarea,
select {
	display: block;
	padding: 18px 15px;
	margin: 0 0 24px 0;
	border: 0;
	outline: none;
	// vertical-align: middle;
	min-width: 225px;
 max-width: 100%;
	font-size: 15px;
	line-height: 24px;
 color: #647373;
 background: #D3D9D9;

}

/* select { padding: 0;
	width: 220px;
	} */

input[type="text"]:focus,
input[type="password"]:focus,
input[type="email"]:focus,
textarea:focus {
	color: #B3B7BC;
 background-color: #3d4145;
}

textarea { min-height: 220px; }

label,
legend {
	font: 16px/24px 'opensans-bold', sans-serif;
 margin: 12px 0;
	color: #3d4145;
	display: block;
}
label span,
legend span {
 color: #8B9798;
	font: 14px/24px 'opensans-regular', sans-serif;
}

input[type="checkbox"],
input[type="radio"] {
	 font-size: 15px;
	 color: #737373;
}

input[type="checkbox"] { display: inline; }
